.body{
    margin: 0;
    padding: 0;
}

.grid-container{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.grid-item{
    flex-basis: calc(100%/16);
    padding-bottom: calc(100%/16);
    background-color: lightblue;
}

.hover{
    background-color: blue;
    
}
