.body{
    margin: 0;
    padding: 0;
}

.grid-container{
    margin: 100px 500px;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    /* flex-basis: calc(100%/64);
    padding-bottom: calc(100%/64); */
    background-color: lightblue;
}
.hover{
    background-color: blue;

}

.size-div{
    margin-left: 650px;
}
